@mixin ib{display:inline-block;*display:inline;}
@mixin clearfix{content:".";display:block;height:0;clear:both;visibility:hidden;}
@mixin no-list{margin:0;padding: 0;list-style-type: none;}

.slider{
	position:relative;-webkit-transform:translate3d(0,0,0);
	.slider_mask{overflow: hidden;position: relative;}
	.slider_scroll{position:relative;}
	.slider_paging{
		padding-top:10px;
		ul{
			@include no-list;text-align:center;
			li{@include ib;margin:2px;}
			a{
				border-radius: 4px;width:8px;height:8px;display: block;font-size:0;background:#aaa;
				span{display: none;}
				&.active{background:#333;}

			}
		}
	}
	&.gallery{
		.slider_item{
			text-align: center;
			img{max-width:100%;max-height:100%;margin:auto;}
		}
	}
}