$cols: 10;
$gutter: 10px;
$colW: 100%/$cols;
$w: 768px;

@mixin ib{display:inline-block;*display:inline;}
@mixin clearfix{content:".";display:block;height:0;clear:both;visibility:hidden;}
@mixin no-list{margin:0;padding: 0;list-style-type: none;}

/* col sizing and count, vars set in vars.scss - outputs .col1 etc */
@for $i from 1 through $cols{
	$W:$colW*$i;
	.col#{$i}{width:$W;float:left;}
}
body{margin:0;padding:0;font-size:62.5%;font-family:Arial,Helvetica,sans-serif;}
p,ul,ol,dl,h1,h2,h3,h4,article{
	margin:1em 0 0 0;
	&:first-child{margin-top:0;}
}
#outline{font-size:1.4em;line-height:1.4;}
.row,.group{
	&:after{@include clearfix;}
}
a{
	text-decoration:none;
	&:hover{text-decoration:underline;}
}
.box{background:#eee;min-height:100px;padding: $gutter;}
.container{max-width:$w;*width:$w;margin:auto;}
.gutter{padding: $gutter;}
.description{padding-bottom:$gutter;}

nav{
	&.hoz{
		ul{@include no-list;
			&:after{@include clearfix;}
		}
		li{float: left;}
		a{display: block;padding:$gutter*0.7*2 $gutter;}
	}
	header &{
		background:#000;
		a{color: #fff;}
	}
}