@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Git\/Slider\/demo\/styles\/slider\.scss}line{font-family:\000035}}
.slider {
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Git\/Slider\/demo\/styles\/slider\.scss}line{font-family:\000037}}
.slider .slider_mask {
  overflow: hidden;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Git\/Slider\/demo\/styles\/slider\.scss}line{font-family:\000038}}
.slider .slider_scroll {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Git\/Slider\/demo\/styles\/slider\.scss}line{font-family:\000039}}
.slider .slider_paging {
  padding-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Git\/Slider\/demo\/styles\/slider\.scss}line{font-family:\0000311}}
.slider .slider_paging ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Git\/Slider\/demo\/styles\/slider\.scss}line{font-family:\0000313}}
.slider .slider_paging ul li {
  display: inline-block;
  *display: inline;
  margin: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Git\/Slider\/demo\/styles\/slider\.scss}line{font-family:\0000314}}
.slider .slider_paging ul a {
  border-radius: 4px;
  width: 8px;
  height: 8px;
  display: block;
  font-size: 0;
  background: #aaa;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Git\/Slider\/demo\/styles\/slider\.scss}line{font-family:\0000316}}
.slider .slider_paging ul a span {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Git\/Slider\/demo\/styles\/slider\.scss}line{font-family:\0000317}}
.slider .slider_paging ul a.active {
  background: #333;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Git\/Slider\/demo\/styles\/slider\.scss}line{font-family:\0000323}}
.slider.gallery .slider_item {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Git\/Slider\/demo\/styles\/slider\.scss}line{font-family:\0000325}}
.slider.gallery .slider_item img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
