/* col sizing and count, vars set in vars.scss - outputs .col1 etc */
.col1 {
  width: 10%;
  float: left; }

.col2 {
  width: 20%;
  float: left; }

.col3 {
  width: 30%;
  float: left; }

.col4 {
  width: 40%;
  float: left; }

.col5 {
  width: 50%;
  float: left; }

.col6 {
  width: 60%;
  float: left; }

.col7 {
  width: 70%;
  float: left; }

.col8 {
  width: 80%;
  float: left; }

.col9 {
  width: 90%;
  float: left; }

.col10 {
  width: 100%;
  float: left; }

body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: Arial,Helvetica,sans-serif; }

p, ul, ol, dl, h1, h2, h3, h4, article {
  margin: 1em 0 0 0; }
  p:first-child, ul:first-child, ol:first-child, dl:first-child, h1:first-child, h2:first-child, h3:first-child, h4:first-child, article:first-child {
    margin-top: 0; }

#outline {
  font-size: 1.4em;
  line-height: 1.4; }

.row:after, .group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.box {
  background: #eee;
  min-height: 100px;
  padding: 10px; }

.container {
  max-width: 768px;
  *width: 768px;
  margin: auto; }

.gutter {
  padding: 10px; }

.description {
  padding-bottom: 10px; }

nav.hoz ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  nav.hoz ul:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
nav.hoz li {
  float: left; }
nav.hoz a {
  display: block;
  padding: 14px 10px; }
header nav {
  background: #000; }
  header nav a {
    color: #fff; }
